body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4220d224-afd0-40fb-bbf8-7fbb07bbbe18/dclda6u-c58496b6-409f-41c5-88e4-5a21df648053.png/v1/fill/w_1192,h_670,q_70,strp/captain_falcon_minimalist_wallpaper_1080p_by_sp5rky_dclda6u-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzQyMjBkMjI0LWFmZDAtNDBmYi1iYmY4LTdmYmIwN2JiYmUxOFwvZGNsZGE2dS1jNTg0OTZiNi00MDlmLTQxYzUtODhlNC01YTIxZGY2NDgwNTMucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.C-nzuStQJPG1fsjOGUsO9Ol7KLivGsqFDG0LwmF8LNY);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

ul li {
  list-style: none;
  /* Change to reduce touch spot */
  margin: 400px 40px;
  transition: 0.5s;
  color: #fff;
}

ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 5px;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

ul:hover li a {
  transform: scale(1.5);
  filter: blur(5px);
  opacity: 0.2;
}

ul li a:hover {
  transform: scale(2);
  filter: blur(0);
  opacity: 1;
}

ul li a:before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.5;
  background: #ff497c;
  transform: scaleX(0);
  z-index: -1;
  transform-origin: right;
}

ul li a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}
